body {
    font-family: 'Aclonica','Advent','Alegreya';
    /*background-image: linear-gradient(60deg,cyan,#00BFFF,#6699CC);*/
    background: linear-gradient(-45deg, #8b8b8b, #5a595a, #343434, #000000);
    background-size: cover;
    font-weight: bold;
    color:white;
    text-align: center;
    border: double 3px;
    
}
h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-decoration: underline white 2px;
}
h2 {
    font-family:'Times New Roman', Times, serif;
    color: white;
}
button {
    color:white ;
    width: 60px;
    background: #016f32;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border:2px solid black;
    border-radius: 4px;
    margin-bottom: 2px;
    margin-top: 2px;
}
.form_button:hover{
background:linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); 

}

input[type=text] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
    outline: none;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  input[type=text]:hover {
    background:linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); 
    transition: transform 2s;
  }

.tile{
    /* transition delay to add delay between hover and tile transitions */
    transition-delay: 0.5s;
    transition: transform 0.5s;
    height: 50px;
    width: 80px;
    display: inline-block;
    border: 1.5px solid black;
    color: white;
    border-radius:4px;
    margin-right:2px;
    margin-left:2px;
    margin-top:4px;
    margin-bottom:4px;
  }
  
  .tile:hover{
    transition-delay: 0.2;
    transform:scale(0.8);
    ;
  }
